
@model MVC_DynamicMenu.Models.AddNewFoodAndFluid
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
        <h1 id="title" class="text-center">
            Update A Food And Fluid/h1>
            <p id="description" class="description text-center">

            </p>
    </header>
    <form asp-action="UpdateFoodAndFluid" id="survey-form">
        <div class="form-group">
            <label id="name-label" asp-for="Client_Name">Participant</label>
            <input type="hidden"
                   asp-for="Client_Name"
                   id="name"
                   class="form-control"
                   placeholder="Enter your name"
                   required />
        </div>
        <input type="hidden" asp-for="ClientID" />
        <label asp-for="Start_date">Start Date</label>
        <input type="date" asp-for="Start_date" id="dateofbirth">

        <label asp-for="End_date">End Date</label>
        <input type="date" asp-for="End_date" id="dateofbirth">



        <div class="form-group">


            <h6>Breakfast</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Breakfast"></textarea>


            <h6>Lunch</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Lunch"></textarea>

            <h6>Dinner</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Diner"></textarea>


            <h6>Additional Food</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Additional_Food"></textarea>


            <h6>Breakfast Fluid</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Breakfast_Fluid"></textarea>

            <h6>Lunch Fluid</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Lunch_Fluid"></textarea>

            <h6>Dinner Fluid</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Diner_Fluid"></textarea>

            <h6>Total Calories</h6>
            <textarea id="comments"
                      class="input-textarea"
                      asp-for="Toal_Calories"></textarea>

        </div>
        <div class="form-group">
            <p>Completion & Sign-off</p>
            <label id="name-label" asp-for="Staf_Name">Staff Member Name</label>
            <input type="text"
                   asp-for="Staf_Name"
                   id="name"
                   class="form-control"
                   placeholder="Select Staff"
                   required />
        </div>

        <div class="form-group">
            <button type="submit" id="submit" class="submit-button">
                Submit
            </button>
        </div>
        <script type="text/javascript">
            const projectName = 'survey-form';

        </script>
    </form>
</div>





