
@model MVC_DynamicMenu.Models.NewMentalHealthReview
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
        <h1 id="title" class="text-center">Form : Mental Health Review Form</h1>
        <p id="description" class="description text-center">

        </p>
    </header>
    <form asp-action="" id="survey-form">
        <div class="form-group">
            <label id="name-label" asp-for="Client_Name">Participant</label>
            <input type="text"
                   asp-for="Client_Name"
                   id="name"
                   class="form-control"
                   placeholder="Enter your name"
                   required />
        </div>
        @*Date Start*@
        <label asp-for="Entry_date">Entry Date</label>
        <input type="date" asp-for="Entry_date" id="dateofbirth">

        @*Hierarchy Start*@
        <div class="form-group">
            <p>Hierarchy</p>
            <select id="dropdown" asp-for="Hierarchy" class="form-control" required>
                @*<option disabled selected value>Select current role</option>*@
                <option value="student">New</option>
                <option value="job">Full Time Job</option>
                <option value="learner">Full Time Learner</option>
                <option value="preferNo">Prefer not to say</option>
                <option value="other">Other</option>
            </select>
        </div>


        <h6>Client Status</h6>
        <textarea id="comments" class="input-textarea" asp-for="Client_status"></textarea>


        <h6>Question 1</h6>
        <textarea id="comments" class="input-textarea" asp-for="Question_1"></textarea>

        <h6>Question 2</h6>
        <textarea id="comments" class="input-textarea" asp-for="Question_2"></textarea>


        <h6>Question 3</h6>
        <textarea id="comments" class="input-textarea" asp-for="Question_3"></textarea>


        <h6>Question 4</h6>
        <textarea id="comments" class="input-textarea" asp-for="Question_4"></textarea>


        <h6>Question 5</h6>
        <textarea id="comments" class="input-textarea" asp-for="Question_5"></textarea>


        <h6>Summery</h6>
        <textarea id="comments" class="input-textarea" asp-for="Summery"></textarea>


        <script type="text/javascript">
            const projectName = 'survey-form';

        </script>
    </form>
</div>








